<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="MacTesting_01" >
        <classes>
            <class name="" />
        </classes>
    </test>

    <test name="Regression1">
        <classes>
            <class name=""/>
            
        </classes>
    </test>
</suite>